<div class="series-discovery">
  <nav class="series-discovery__nav navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Series Series</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/"><i class="fa fa-star"></i> Popular Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/search"><i class="fa fa-search"></i> Search</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="series-discovery__content">
    <router-outlet></router-outlet>
  </div>
</div>
