
<div *ngIf="serie">
  <div class="serie__backdrop"
    *ngIf="serie.backdropUrl"
    [ngStyle]="{'background-image': 'url(' + serie.backdropUrl + ')', color: 'red'}">
    
  </div>

  <div class="container">
    <h1 class="my-5">{{ serie.title }}</h1>
    <div class="row">
      <div class="col-md">
        <div class="card mb-4">
          <div class="card-body">
            <p class="card-text"><label>Release date:</label> {{ serie.first_air_date }}</p>
            <p class="card-text"><label>Rating:</label> {{ serie.vote_average }}</p>
            <p class="card-text">{{ serie.overview }}</p>
          </div>
        </div>
      </div>
      <div 
        *ngIf="serie.posterUrl"
        class="col-md">
        <div class="card mb-4">
          <img class="card-img-top" src="{{ serie.posterUrl }}">
        </div>
      </div>
    </div>
  </div>
</div>
