<a routerLink="/serie/{{ serie.id }}">
  <div class="card mb-4">
    <img class="card-img-top" *ngIf="serie.posterUrl" src="{{ serie.posterUrl }}">
    <div class="card-body">
      <h5 class="serie-miniature__title card-title">{{ serie.name }}</h5>
      <p class="card-text">{{ serie.first_air_date }}</p>
    </div>
  </div>
</a>
