
<div class="container">
  <h1 class="my-5">Search</h1>
  <div>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="search"
          [ngModel]="search" (ngModelChange)="changeSearch($event)">
      </div>
    </form>
  </div>
  <div class="row" *ngIf="series.length >= 1"
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
    <div *ngFor="let serie of series" class="col-md-3">
      <app-serie-miniature [serie]="serie"></app-serie-miniature>
    </div>
  </div>
</div>
